body{
    font-family: "Space Grotesk";
    background-color: black;
    color: white;
}

a{
    color: rgb(0, 203, 254);
    text-decoration: none;
}

h1, h2, h3{
    color: rgb(0, 203, 254);
}
#about-sectionn{
    display: block;
    margin-bottom: 1000px;
}
#developer-image{
    float: left; 
    margin-right: 20px;
}